<!-- Enhanced SEO and Schema.org markup for academic profile -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Nick McKay",
  "jobTitle": "Professor of Climate Science",
  "affiliation": {
    "@type": "Organization",
    "name": "Northern Arizona University",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Flagstaff",
      "addressRegion": "Arizona",
      "addressCountry": "US"
    }
  },
  "description": "Paleoclimate scientist studying climate dynamics using natural records of past climate variability to understand how climate works.",
  "url": "https://nickmckay.org",
  "sameAs": [
    "https://github.com/nickmckay",
    "https://twitter.com/npmckay",
    "https://orcid.org/0000-0003-3598-5113"
  ],
  "knowsAbout": [
    "Paleoclimatology",
    "Climate Dynamics", 
    "Paleoclimate Synthesis",
    "Paleoclimate Informatics",
    "Lake Sediments",
    "Climate Modeling",
    "Data Science"
  ],
  "alumniOf": "University of Arizona",
  "image": "https://nickmckay.org/img/nick.png"
}
</script>

<!-- Open Graph meta tags for social sharing -->
<meta property="og:site_name" content="Nick McKay - Climate Scientist">
<meta property="og:locale" content="en_US">
<meta name="twitter:site" content="@npmckay">
<meta name="twitter:creator" content="@npmckay">

<!-- Additional meta tags for academic indexing -->
<meta name="DC.creator" content="Nick McKay">
<meta name="DC.subject" content="Paleoclimatology, Climate Science, Earth Science">
<meta name="citation_author" content="McKay, Nicholas P.">
<meta name="citation_author_institution" content="Northern Arizona University">